<body>
  <h1>
    <strong>Editing Book</strong>
  </h1>

  <!-- form_with部分 -->
  <%= form_with model:@blog, local: true do |f| %>
    <p>Title</p>
    <%= f.text_field :title %>

    <p>Body</p>
    <%= f.text_area :body %>
    <br><%= f.submit 'Update Book' %></br>

    <%= link_to "Show", books_path(@book.id) %>
     |
    <%= link_to "Back", books_path %>
  <% end %>

</body>